.liThemes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgThemes{
    padding: 2px;
    margin: 3px 3px 3px 3px;
    width: 90%;
    cursor: pointer;
}
.ttthm{
    display: block;
    text-align: center;
}
main{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-image: url(/img/main.jpg);
}
#mnBg{
    width: 100%;
}
body{
    overflow: hidden;
}
.ctsm{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}
.BigText{
    font-size: 3rem;
    color: #fff;
    text-align: center;
}
.padreTemi{
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caseTemi{
    border: 2px solid #fff;
    border-radius: 15px;
    height: 200px;
    width: 280px ;
    opacity: 100%   ;
    transition: all .5s;
    cursor: pointer;
}
.caseTemi:hover{
    height: 215px;
    width: 300;
}