.liThemes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgThemes{
    padding: 2px;
    margin: 3px 3px 3px 3px;
    width: 90%;
    cursor: pointer;
}
.ttthm{
    display: block;
    text-align: center;
}
main{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/main.jpg);
}
#mnBg{
    width: 100%;
}
body{
    overflow: hidden;
}
.ctsm{
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    perspective: 1000px;
}
.BigText{
    font-size: 4rem;
    color: #fff;
    text-align: center;
}
.padreTemi{
    width: 900px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.caseTemi{
    border: 2px solid #fff;
    border-radius: 15px;
    height: 200px;
    width: 280px ;
    opacity: 100%   ;
    transition: all .5s;
    cursor: pointer;
}
.caseTemi:hover{
    height: 215px;
    width: 300;
}
.rotate{
    transform: rotateY(-180deg);
    border: #444444;
    animation: rotate .5s;
}
.ctsm.flip {
    animation-name: flip;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.ctsm.front {
  transform: rotateY(0deg);
}

.ctsm.back {
  transform: rotateY(180deg);
}
.btnWin{
    cursor: pointer;
    background: #ffffff;
    color: #444444;
    width: 200px;
    height: 60px;
    font-size: 2rem;
    margin-left: 50px;
}
@media screen and (max-width: 768px) {
    body{
        height: 120vh;
        margin: 0;
        overflow-y: auto;
    }
    header{
        display: none;
    }
    main{
        background-size: cover;
        width: 100%;
        height: 120vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
    .BigText{
        font-size: 2rem;
        display: list-item;
        list-style-type: none;
        position: absolute;
        top: 10%;
        left: 22%;
    }
    .padreTemi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .caseTemi{
        margin: 25px;
        height: 156.8px;
    }
    .ctsm{
        width: 75px;
        height: 75px;
    }
    .bgctsm{
        position: absolute;
        top: 5%;
    }
}